
@{
    ViewBag.Title = "JsonTest";
}

<h2>JsonTest</h2>

<button id="btnJsonTest">執行 JsonTest 並輸出到 Console 視窗</button>

@section Scripts{
    <script>
        $('#btnJsonTest').on('click', function () {
            $.get('@Url.Action("JsonTest", new { id = 1 })', "", function (data) {
                console.log(data);
            });
        });

    </script>
}

